@import "compass/css3";

@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);
body {
  
 background-color: #ED6565; 
}

.wrap {
  padding: 5em 0.5em;
  margin: 0 auto;
}

span {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 3vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  @include skew(0, -6.7deg, false);
  @include transition-property(font-size);
  @include transition-duration(0.5s);
 
}

@media screen and (max-width: 50em) {
  span {
    font-size: 20vw;
   }
}

